<div class="container">
    <h3>Ajout d'un Employé</h3>
    <form>
        <div>
            <label> Matricule de l'employé </label>
            <input class="form-control" type="number" >
        </div>
        <div>
            <label>Nom de l'employé</label>
            <input class="form-control" type="text" >
        </div>
        <div>
            <label>Date d'embauche</label>
            <input class="form-control" type="date">
        </div>
        <h5>Liste des diplômes de l'employé</h5>
        <!-- <div>
            <div>
                <strong> Diplôme n° </strong>
                <div>
                    <label>Intitulé Diplôme :</label>
                    <input type="text" formControlName="nomDiplome">

                    <label>Année :</label>
                    <input type="number" formControlName="annee">
                </div>
            </div>
        </div> -->
        <input type="button" value="Ajouter un Diplôme" class="btn btn-secondary btn-sm" > <br>

        <input type="submit" class="btn btn-success" value="Ajouter">
        <input type="button" class="btn btn-warning" value="Vider">
    </form>

    <h3>Liste des employés</h3>

</div>