<div class="container">
    <h3>Informations d'un produit</h3>
    <form [formGroup]="productForm">
        <div>
            <label> Identifiant du produit </label>
            <input class="form-control" type="number" formControlName="id">
            <div *ngIf="idProduct && idProduct.invalid && idProduct.touched"
class="alert alert-danger" >
L'identifiant doit être un nombre
</div>

        </div>
        <div>
            <label>Libellé</label>
            <input class="form-control" type="text" formControlName="libelle">
            <div *ngIf="isValidPattern()" class="alert alert-warning">
                Le libelle doit commencer par une majuscule suivie d'au moins 1 lettre
               </div>
               <div *ngIf="libelle && libelle.dirty && libelle.invalid" class="alert alert-danger">
                 le libellé est obligatoire
               </div>
               
        </div>

        <h5>Définition des couleurs du produit</h5>
        <div formArrayName="couleurs">
        <div *ngFor="let c of lesCouleurs.controls; index as i">
        <label> Couleur n° {{i+1}}</label>
         <input type="text" class="form-control" [formControlName]="i">
        </div>
        </div>

        <input type="button" value="Ajouter une couleur" class="btn btn-secondary btn-sm"
(click)="onAjouter()"> <br>      
        <input type="submit" [disabled]="productForm.invalid" class="btn btn-success" (click)="onAffiche()"value="Afficher">
        <input type="button" class="btn btn-warning" (click)="onVider()"value="Vider">
    </form>
</div>